// Variables Globales //

// Colores principales //
$color-primario: #4f46e5;
$color-secundario: #6366f1;
$color-oscuro: #111827;
$color-gris: #6b7280;
$color-claro: #f3f4f6;
$color-blanco: #fff;

// Tipografias //
$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;

// Tamaños de letra //
$fs-base: 16px;
$fs-h1: 3rem;
$fs-h2: 2rem;
$fs-p: 1rem;

// Espaciados //
$espacio-xs: .5rem;
$espacio-s: 1rem;
$espacio-m: 2rem;
$espacio-l: 3rem;
$espacio-xl: 5rem;

// Breakpoints responsivos //
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;