@import 'variables';
@import 'globales';
@import 'mixins';
@import 'components/header';
@import 'components/hero';
@import 'components/cards';
@import 'components/features';
@import 'components/testimonial';
@import 'components/cta';
@import 'components/footer';

// Estilos Globales //
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $color-primario;
}
main{
    padding: 2rem;
    @include grid(1, 2rem);
}