// Estilos para las tarjetas //

// Responsividad // 
.cards{
    @include contenedor();
    padding: 4rem 0;

    &__container{
        // En PC //
        @include grid(3, 2.5rem);

        @include responsive(tablet){
            @include grid(2, 2rem);
        }

        @include responsive(mobile){
            @include grid(1, 1.5rem);
        }
    }
}
.card{
    background-color: $color-blanco;
    border-radius: 1rem;
    padding: 1.5rem;
    @include sombra();
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img{
        width: 100%;
        border-radius: $espacio-xs;
        margin-bottom: $espacio-s;
    }
    &__title{
        text-align: center;
        font-size: 1.6rem;
        color: $color-primario;
        margin-bottom: $espacio-xs;
    }
    &__text{
        text-align: center;
        font-size: $fs-p;
        color: $color-gris;
        line-height: 1.5;
    }
}