.features{
    padding: 4rem 0;
    background-color: $color-blanco;
   
    .features__grid{
        @include contenedor();
        @include grid(3, 2rem); // Para Laptop por default //

        @include responsive(tablet){
            @include grid(2, 2rem);
        }
        @include responsive(mobile){
            @include grid(1, 1.5rem);
        }
    }
    .feature{
        background-color: $color-gris;
        padding: $espacio-m;
        border-radius: 1rem;
        @include sombra;
        text-align: center;
        .feature__icon{
            width: 60px;
            margin-bottom: $espacio-s;
        }
        .feature__title{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }
        .feature__text{
            font-size: $fs-base;
            color: $color-claro;
            line-height: 1.9;
        }
    }
}