.testimonials {
    padding: 4rem 0;
    text-align: center;

    &__title{
        font-size: $fs-h2;
        margin-bottom: $espacio-m;
        color: $color-oscuro;
    }
    &__grid{
        @include contenedor();
        @include grid(3, $espacio-m);

        @include responsive(tablet) {
            @include grid(2, $espacio-m);
        }

        @include responsive(mobile) {
            @include grid(1, $espacio-s)
        }
    }
}
.testimonial{
    background-color: $color-claro;
    padding: $espacio-m;
    border-radius: 1rem;
    @include sombra;
    &__text{
        font-size: $fs-base;
        margin-bottom: $espacio-s;
        color: $color-gris;
        line-height: 1.5
    }
    &__img{
        width: 100%;
        height: 200px;
        border-radius: $espacio-xs;
        margin-bottom: $espacio-s;
    }
    &__author{
        font-weight: bold;
        font-size: 1.8rem;
        color: $color-primario;
        margin-bottom: .3rem;
    }
    &__role{
        font-size: 1.4rem;
        color: $color-oscuro;
        opacity: .7;
    }
}